* {
  box-sizing: border-box;
}

:root {
  --primary: #3a66bd;
  --secondary: #ebd6d0;
}

html {
  width: 100%;
  background: #f0e7e4;
}

input,
button,
textarea {
  font-size: inherit;
}

body {
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

a {
  color: var(--primary);
}
nav {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  height: auto;
  margin-bottom: 20px;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}

address {
  margin-bottom: 20px;
}

footer {
  margin: 50px 0 20px 0;
}

dt {
  text-decoration: underline;
  line-height: 2;
}

dd {
  margin-left: 0;
}

p {
  text-align: justify;
}

.double-list {
  display: flex;
  justify-content: space-evenly;
}

.button {
  background: var(--secondary);
  border-radius: 7px;
  box-shadow: 1px 2px 3px #808080;
  color: var(--primary);
  margin: 0 10px;
  padding: 6px;
  text-decoration: none;
}
