* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #dfe7f7;
    --secondary-text: #333;
    --tertier-text: #dfc79a;
    --primary-bg: #333;
    --secondary-bg: #dfc79a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-text: #333;
    --secondary-text: #dfc79a;
    --tertier-text: #aa9161;
    --primary-bg: #fff;
    --secondary-bg: #333;
  }
}

html {
  width: 100vw;
  background: var(--primary-bg);
}

input,
button,
textarea {
  font-size: inherit;
}

body {
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  align-items: center;
}

header {
  background: var(--secondary-bg);
  width: 100vw;
  max-width: 820px;
  height: 120px;
  border-bottom-left-radius: 80px 50%;
  border-bottom-right-radius: 80px 50%;
}

main {
  width: 90vw;
  row-gap: 20px;
  max-width: 620px;
}

@media (min-width: 700px) {
  main {
    column-gap: 20px;
    grid-template-columns: 300px 300px;
  }
}

h1 {
  color: var(--secondary-text);
}

h2 {
  color: var(--tertier-text);
}

a {
  color: var(--tertier-text);
}

p {
  text-align: justify;
}

@media (min-width: 700px) {
  p {
    text-align: left;
  }
}

img {
  height: auto;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 10px 30px;
  padding: 0;
}

nav {
  align-self: flex-start;
}

.flex img {
  padding: 10px 0;
}

@media (min-width: 700px) {
  .flex {
    display: flex;
    height: auto;
    justify-content: center;
  }

  .flex img {
    height: 50px;
    width: auto;
    padding: 0 7px;
  }
}

.button {
  background: var(--secondary-bg);
  border-radius: 7px;
  box-shadow: 1px 2px 3px #808080;
  color: var(--secondary-text);
  padding: 6px;
  text-decoration: none;
}

@media (any-hover: hover) {
  .button:hover {
    color: indianred;
    transition: color 0.5s ease;
  }
}

.nav-element {
  color: var(--secondary-text);
  font-size: 1.25rem;
  border-radius: 7px;
}

@media (any-hover: hover) {
  .nav-element:hover {
    background: indianred;
    transition: background 1.5s ease;
    padding: 5px 10px;
    transition: padding 1.5s ease;
  }
}
.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.m-10-0 {
  margin: 10px 0;
}

.m-0 {
  margin: 0;
}

.m-0-10 {
  margin: 0 10px;
}

.m-10 {
  margin: 10px;
}

.max-w-400 {
  max-width: 400px;
}

.flex-d-column {
  flex-direction: column;
}

.p-items-center {
  place-items: center;
}

.text-a-center {
  text-align: center;
}

.line-h2 {
  line-height: 2;
}

.bold {
  font-weight: bold;
}

@media (min-width: 700px) {
  .column-full {
    grid-column: 1 / span 2;
  }

  .max-w-520 {
    max-width: 620px;
  }

  .flex-d-row {
    flex-direction: row;
  }

  .alig-items-start {
    align-items: start;
  }
}
